RHT_OCP4_MASTER_API=https://api.eu410.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu410.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu410.prod.nextcle.com
RHT_OCP4_DEV_USER=nlcuqo
RHT_OCP4_DEV_PASSWORD=5e2470ebef92449eab8b
RHT_OCP4_GITHUB_USER=kerberos5
RHT_OCP4_QUAY_USER=kerberos5
